<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{question.question_text}}</h1>
    {% if error_message %}
    <p><strong>{{error_message}}</strong></p>
    {% endif %}
    
    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type='radio' name='choice' value={{choice.id}}
                id='choice{{forloop.counter}}'>
            <label for='choice{{forloop.counter}}'>{{choice.choice_text}}</label>
            <br>
        {% endfor %}
        <br><br>
        <input type="submit" value="투표">
    </form>


        
    {% comment %}
        question.choice_set.all
        . question의 정보에서 foregin에 연결된 table choice table에 넣어져 있는 집합
        . 그 안에 있는 것을 모두 가지고 옴 (all)
        . choice는 연결된 고정명 (소문자)
        . _set은 고정
     {% endcomment %}
</body>
</html>