<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        이름 : <input type="text" name="myname">
        <br>
        비밀번호 : <input type="text" name="mypassword">
        <br>
        <input type="submit" value="로그인">
        <br>
        <h3><a href="{% url 'register' %}">회원가입</a></h3>
    </form>
</body>
</html>