
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if member.role == 'multi' %}
        <h1>Admin Page</h1>
        <a href="#">User List</a>
        <a href="#">User Delete</a>
    {% elif member.role == 'manager' %}
        <h1>Manager Page</h1>
        <a href="#">User Add</a>
        <a href="#">User List</a>
    {% else %}
        <h1>User Page</h1>
    {% endif %}
</body>
</html>